---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

import ContactCTA from '../../components/ContactCTA.astro';
import Hero from '../../components/Hero.astro';
import Grid from '../../components/Grid.astro';
import RecentPost from '../../components/RecentPost.astro';

export async function getStaticPaths() {
    const allPosts = (await getCollection('blog'))
        .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
    const allTags = [... new Set(allPosts.map((tag) => tag.data.tags).flat(1))];

    return allTags.map((tag) => ({
        params: { tag: tag },
        props: { posts: allPosts.filter((post) => post.data.tags?.includes(tag))}
    }))
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title={`Tag ${tag} | Blog | Jakub Wajs`}>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
        <Hero
            title={`Tag #${tag}`}
            tagline={`Posts tagged with #${tag}`}
            align="start"
        />
        <Grid>
            {
                posts.map((post) => (
                    <li>
                        <RecentPost project={post} />
                    </li>
                ))
            }
        </Grid>
    </main>
    <ContactCTA />
</div>
</BaseLayout>