---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const technologiesAndSkills = ['.NET', '.NET Core', 'C#', 'Azure','JIRA', 'GIT', 'SCRUM', 'Azure DevOps', 'Kentico', 'Sitecore']
---

<BaseLayout title="About | Jakub Wajs" description="About Jakub Wajs - .NET Developer">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About me"
				tagline="Thanks for stopping by! Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/about-me-photo.jpg"
					alt="Jakub Wajs photo for about me page."
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						My name is Jakub and I’m 28 y.o. Software Engineer living in Poznan, Poland.
					</p>
					<p>
						I started learning programming in 2015. Since then I've created many projects from various fields and tried a lot of technologies - from C++, through C# and Python to building web applications with Django and ASP .NET. Some of them can check on my GitHub repo.
					</p>
					<p>
						Most of my work during my BSc studies was related to the development of PyRy3D Chimera Extension (Python 2.x), which was also a subject of my BA thesis. In turn, during my Master's Degree, I dealt with the issue of cloud data warehouses based on the Microsoft Azure platform.
					</p>
					<p>
						In 2019, I received the MCSA: Web Applications and MCSD: App Builder certificates. In 2022 I passed the Azure Developer Associate certification. Now I'm working as a .NET developer focused on building solutions driven by CMS technologies (Sitecore Experience Platform and Sitecore Content Hub, Kentico Xperience, or Optimizely CMS).
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Technology stack</h2>
				<div class="content">
					<Grid variant='small'>
						{
							technologiesAndSkills.map((skill) => (
								<li>{skill}</li>
							))
						}
					</Grid>
				</div>
			</section>
			<section>
				<h2 class="section-title">Certificates</h2>
				<div class="content">
					<Grid variant="small">
						<li class="certificate-item">
							<a href="https://www.credly.com/badges/51599b8f-b0d1-45ea-bffc-8cc28b84a40e/linked_in_profile">
								<img src="../../public/assets/certificates/certificate-azure-associate.png" alt="Microsoft Certified: Azure Developer Associate badge">
							</a>
						</li>
						<li class="certificate-item">
							<a href="https://www.credly.com/badges/a860e5de-5e5a-4c17-80d9-805821166a7f/linked_in_profile">
								<img src="../../public/assets/certificates/certificate-app-builder.png" alt="Microsoft Certified Solutions Developer badge">
							</a>
						</li>
						<li class="certificate-item">
							<a href="https://www.credly.com/badges/ce4b4c68-59df-405c-89a2-76ec658f2151/linked_in_profile">
								<img src="../../public/assets/certificates/certificate-solutions-associate.png" alt="Microsoft Certified Solutions Associate badge">
							</a>
						</li>
					</Grid>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	.content p {
		margin-bottom: 1.5em;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
