---
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
	title="Cookie policy"
	description="Cookie policy for wajs.dev Jakub Wajs"
>
	<div class="stack gap-20">
		<div class="stack gap-15">
			<header>
				<Hero title="Cookie Policy" />
			</header>
			<main class="wrapper">
				<div class="stack gap-10 content">
					<div class="content">
						<p>
							This is the Cookie Policy for wajs-dev.net,
							accessible from www.wajs-dev.net
						</p>

						<h2>What Are Cookies</h2>

						<p>
							As is common practice with almost all professional
							websites this site uses cookies, which are tiny
							files that are downloaded to your computer, to
							improve your experience. This page describes what
							information they gather, how we use it and why we
							sometimes need to store these cookies. We will also
							share how you can prevent these cookies from being
							stored however this may downgrade or 'break' certain
							elements of the sites functionality.
						</p>

						<h2>How We Use Cookies</h2>

						<p>
							We use cookies for a variety of reasons detailed
							below. Unfortunately in most cases there are no
							industry standard options for disabling cookies
							without completely disabling the functionality and
							features they add to this site. It is recommended
							that you leave on all cookies if you are not sure
							whether you need them or not in case they are used
							to provide a service that you use.
						</p>

						<h2>Disabling Cookies</h2>

						<p>
							You can prevent the setting of cookies by adjusting
							the settings on your browser (see your browser Help
							for how to do this). Be aware that disabling cookies
							will affect the functionality of this and many other
							websites that you visit. Disabling cookies will
							usually result in also disabling certain
							functionality and features of the this site.
							Therefore it is recommended that you do not disable
							cookies.
						</p>
						<h2>The Cookies We Set</h2>

						<script
							type="text/javascript"
							charset="UTF-8"
							data-cookiescriptreport="report"
							src="//report.cookie-script.com/r/e6cc87f758a5f0e52b7d5c92f1b7b6bf.js"
						></script>

						<h2>Third Party Cookies</h2>

						<p>
							In some special cases we also use cookies provided
							by trusted third parties. The following section
							details which third party cookies you might
							encounter through this site.
						</p>

						<ul>
							<li>
								<p>
									This site uses Google Analytics which is one
									of the most widespread and trusted analytics
									solution on the web for helping us to
									understand how you use the site and ways
									that we can improve your experience. These
									cookies may track things such as how long
									you spend on the site and the pages that you
									visit so we can continue to produce engaging
									content.
								</p>
								<p>
									For more information on Google Analytics
									cookies, see the official Google Analytics
									page.
								</p>
							</li>

							<li>
								<p>
									The Google AdSense service we use to serve
									advertising uses a DoubleClick cookie to
									serve more relevant ads across the web and
									limit the number of times that a given ad is
									shown to you.
								</p>
								<p>
									For more information on Google AdSense see
									the official Google AdSense privacy FAQ.
								</p>
							</li>
						</ul>

						<h2>More Information</h2>

						<p>
							Hopefully that has clarified things for you and as
							was previously mentioned if there is something that
							you aren't sure whether you need or not it's usually
							safer to leave cookies enabled in case it does
							interact with one of the features you use on our
							site.
						</p>

						<p>
							For more general information on cookies, please read
							<a
								href="https://www.cookiepolicygenerator.com/sample-cookies-policy/"
								>the Cookies Policy article</a
							>.
						</p>

						<p>
							However if you are still looking for more
							information then you can contact us through one of
							our preferred contact methods:
						</p>

						<ul>
							<li>Email: jakub.wajs10@gmail.com</li>
						</ul>
					</div>
				</div>
			</main>
			<ContactCTA />
		</div>
	</div>
</BaseLayout>

<style>
	header {
		padding-bottom: 2.5rem;
		border-bottom: 1px solid var(--gray-800);
	}

	.content {
		display: block;
		max-width: 80ch;
		margin-inline: auto;
	}

	.content > :global(* + *) {
		margin-top: 1rem;
	}

	.content :global(h1),
	.content :global(h2),
	.content :global(h3),
	.content :global(h4),
	.content :global(h5) {
		margin: 1.5rem 0;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}
</style>
