---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import ProjectItem from "../components/ProjectItem.astro";

const projects = (await getCollection("work")).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout
	title="Work & projects | Jakub Wajs"
	description="Learn about Jakub Wajs's most recent projects"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Work & projects"
				tagline="Explore some of the key projects I’ve contributed to over the years."
				align="start"
			/>
			<ul>
				{
					projects.map((project) => (
						<li>
							<ProjectItem project={project} />
						</li>
					))
				}
			</ul>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
