---
import Icon from './Icon.astro';
---

<section class="box skills gap-20">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>.NET Developer</h2>
		<p>I am an experienced .NET Developer with over 5 years of expertise, dedicated to delivering robust back-end solutions and driving project success.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="list" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>CMS Expert</h2>
		<p>Simplify your content management process with my extensive knowledge of popular CMS platforms like Sitecore XP, Kentico, and Optimizely CMS.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="cloud" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Azure Professional</h2>
		<p>As a Microsoft Certified Azure Developer Associate, I provide cutting-edge solutions for seamless cloud integration.</p>
	</div>
</section>

<style>
	.box {
		padding: 1.5rem;
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-100);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
